form {
  width: 100%;
  max-width: 600px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.operation-type {
  color: var(--primary-green);
}

.title2 {
  margin-top: -48px;
  color: var(--primary-grey);
  font-style: italic;
}

.option-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.option {
  position: relative;
  flex: 1 1 100%;
  max-width:  280px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondary-grey);
  background-color: transparent;
  border-radius: 1.125rem;
  padding: 24px 32px;
  gap: 1rem;
}

.option img{
  max-width: 32px;
  max-height: 32px;
}

.option label {
  font-size: 24px;
  font-weight: 600;
}

.radio {
  height: 32px;
  width: 32px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.option, .option > * {
  cursor: pointer;
}

.option:hover {
  background-color: var(--secondary-grey);
  border: 2px solid transparent;
}

.portal-button {
  width: 100%;
  display: flex;
  margin-top: 56px;
  gap: 1rem;
  justify-content: space-between;
}

.portal-button button {
  min-height: 0px;
  height: 48px;
  max-width: 280px;
  border-radius: 10px;
}

.go-back {
  background-color: transparent;
}

input[type="radio"] {
            display: none;
        }

/* Create a custom radio button */
.custom-radio {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 2px solid var(--primary-grey);
    border-radius: 50%;
    position: relative;
    align-self: flex-end;
}

/* Style the checked state */
input[type="radio"]:checked + .custom-radio {
    background-color: transparent; /* Your desired color */
    border-color: var(--primary-green);
}

/* Create the inner dot of the radio button */
.custom-radio::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* Show the inner dot when checked */
input[type="radio"]:checked + .custom-radio::after {
    opacity: 1;
    background: var(--primary-green); /* Inner dot color */}