main {
  border: 2px solid var(--secondary-grey);
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 40px 72px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title2 {
  color: var(--primary-grey);
  font-style: italic;
  max-width: 60ch;
  text-align: center;
}

.main-input {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-form img {
  max-width: 24px;
  max-height: 24px;
  margin-inline: 1rem;
  cursor: pointer;
}

.input-form input {
  width: 100%;
}

.input-form {
  display: flex;
  padding-block: 1rem;
  border-radius: 10px;
  align-items: center;
  border: 2px solid var(--primary-grey);
}

.not-okay,
.okay {
  margin-top: -1.5rem;
  text-align: center;
  font-size: 14px;
  height: 3rem;
}

.not-okay {
  color: var(--primary-red);
}

.okay {
  color: var(--primary-green);
}

.click-buttons {
  display: flex;
  gap: 24px;
}

.proceed,
.go-back {
  min-height: 0px;
  height: 48px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.forgot {
  cursor: pointer;
  background-color: transparent;
}
