main {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 64px;

}

form h2 {
  color: var(--primary-grey);
  font-style: italic; 
  font-size: 14px;
  max-width: 60ch;
}

.main-input {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-div, .name-section {
  flex: 1 1 100%;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name-section {
  display: flex;
  gap: 1.5rem;
}

.input-div input {
  width: 100%;
  border: 2px solid var(--secondary-grey);
  border-radius: 8px;
  padding: 12px 16px;
}

.input-div h6 {
  max-width: fit-content;
}

.click-buttons {
  display: flex;
  width: 100%;
  gap: 24px;
}

.proceed, .go-back {
  min-height: 0px;
  height: 48px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.forgot {
  margin: -3rem auto;
  cursor: pointer;
}

.log-in {
  background-color: transparent;
  color: var(--primary-green);
  text-decoration: underline;
}

.pwd {
  position: relative;
}

.pwd img {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}