.title {
  font-size: 32px;
  font-weight: 700;
}
.container {
  padding-inline: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
}

.info-container {
  width: 100%;
  gap: 56px;
  max-width: 800px;
  display: flex;
  border: 2px solid var(--primary-green);
  border-radius: 1rem;
  padding: 2.5rem;
  justify-content: space-between;
}

.info-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.p-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

.seats {
  background-color: transparent;
}

.seats:hover {
  color: var(--primary-green);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.buttons button {
  padding: 12px 32px;
  border-radius: 0.5rem;
  width: 100%;
  min-width: max-content;
}