:root {
  --primary-black: #212121; 
  --secondary-black: #171717;
  --tertiary-black: #2F2F2F;
  --primary-white: #ECECEC;
  --primary-grey: #9B9B9B;
  --secondary-grey: #383838;
  --primary-green: #14A27F;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-family: 'Poppins', 'Inter', 'Montserrat', 'Arial', sans-serif;
}

body {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 9.375rem;
  position: relative;
}

button {
  background-color: var(--primary-green);
  border: none;
}

input {
  background-color: transparent;
  border: none;
  color: var(--primary-grey);
}

.flex {
  display: flex;
  align-items: center;
}

