:root {
  --primary-black: #212121; /* mainly-bg */
  --secondary-black: #171717; /* mainly navbar */
  --tertiary-black: #2F2F2F; /* mainly search bar */
  --primary-white: #ECECEC; /* 90% font */
  --primary-grey: #9B9B9B; /* 10% font */
  --secondary-grey: #383838; /* mainly border */
  --primary-green: #14A27F; /* mainly buttons */
  --primary-yellow: #f2ac42;
  --primary-red: #EA324C;
  --green-solid-hover: transparent;
  --green-transparent-hover: rgba(20, 162, 127, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  transition: all 0.3s;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

html {
  font-family: 'Poppins', 'Inter', 'Montserrat', 'Arial', sans-serif;
}

body {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 9.375rem;
  position: relative;
  min-height: 100vh;
}

button {
  background-color: var(--primary-green);
  border: none;
  cursor: pointer;
}

input, textarea {
  background-color: transparent;
  border: none;
  color: var(--primary-white);
  resize: none;
}

textarea:focus-visible, input:focus-visible {
  outline: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.white {
  color: var(--primary-white);
}

.grey {
  color: var(--primary-grey);
}

.green-bg {
  border: 2px solid transparent;
  background-color: var(--primary-green);
}

.green-bg:hover {
  border: 2px solid var(--primary-green);
  background-color: transparent;
  font-weight: 700;
}

.yellow-bg {
  border: 2px solid transparent;
  background-color: var(--primary-yellow);
}

.yellow-bg:hover {
  border: 2px solid var(--primary-yellow);
  background-color: transparent;
  font-weight: 700;
}

.red-bg {
  border: 2px solid transparent;
  background-color: var(--primary-red);
}

.red-bg:hover {
  border: 2px solid var(--primary-red);
  background-color: transparent;
  font-weight: 700;
}

a {
  text-decoration: none;
  width: 100%;
}