.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background-color: var(--secondary-black);
  z-index: 999;
}


.navbar > * {
  flex-basis: 100%;
}

.logo-link {
  cursor: pointer;
  gap: 0.5rem;
}

.logo {
  max-width: 40px;
  max-height: 40px;
}

.logo-label {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.search-div, .login-div {
  gap: 1rem;
}

.search-bar {
  background-color: var(--tertiary-black);
  padding: 12px 24px;
  border-radius: 0.5rem;
  width: 460px;
}

.search-input {
  width: 100%;
  caret-color: var(--primary-white);
}

.search-input:focus-visible {
  outline: none;
}

.search-button {
  padding-inline: 15px;
  border-radius: 0.5rem;
}

.button-icon {
  align-self: center;
}

.login-div {
  justify-content: end;
  flex-wrap: wrap;
}

.login-link {
  align-items: center;
  justify-content: end;
}

.login-div > * {
  flex: 1 1 100%;
  max-width: fit-content;
}

.login-button {
  width: 100%;
  min-width: 5.3125rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.status:hover { /*better to use content and absolute to start from center to side*/
  cursor: pointer;
  text-decoration: underline; /* temporary */
  color: var(--primary-green);
}

.login-button:hover {
  background-color: var(--green-solid-hover);
  border: 2px solid var(--primary-green);
  font-weight: 700;
  font-size: 1.1rem;
}