main {
  flex-direction: column;
  gap: 3.5rem;
}

.selection-group {
  width: 100%;
}

.selection {
  padding-block: 16px;
  flex-basis: 100%;
  text-align: center;
}

.current {
  background-color: var(--primary-green);
  font-weight: 600;
}