body {
  position: relative;
}

.form {
  flex-direction: column;
  gap: 3.5rem;
}

.selection-group {
  width: 100%;
}

.selection {
  padding-block: 16px;
  flex-basis: 100%;
  text-align: center;
}

.current {
  background-color: var(--primary-green);
  font-weight: 600;
}

.ticket-contents, .seat-section, .buttons-div {
  margin-inline: 85px;
}

.ticket-contents {
  gap: 40px;
}

.poster-container {
  width: 200px;
  height: 300px;
}

.poster {
  object-fit: cover;
}

.details-group {
  flex-direction: column;
}

.ticket-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  gap: 8px;
  margin-bottom: 20px;
  align-items: center;
  color: var(--primary-grey);
  min-width: 600px;
}

.movie-title {
  max-width: 15ch;
}

.label-title {
  align-self: flex-start;
}

.chosen {
  color: var(--primary-white);
  font-weight: 600;
  font-size: 24px;
}

.note {
  color: var(--primary-grey);
  font-style: italic;
  font-size: 0.875rem;
}

.seat-section {
  width: 500px;
  aspect-ratio: 1/1;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.seats-button {
  flex: 1 1 100%;
  max-width: 40px;
  max-height: 50px;  
  background-color: var(--primary-white);
  color: var(--secondary-black);
}

.seats-button:hover {
  background-color: var(--primary-green);
}

.seats-button.clicked {
  background-color: var(--primary-green); /* Or any other desired color */
  color: var(--primary-white); /* Optional: Change the text color as well */
}

.go-back {
  margin-right: 100px;
}

.confirm {
  margin: 0 auto;
  position: absolute;
  max-height: 50px;
  right: 20px;
  bottom: 10.5%;
}