.add-form {
  margin-left: 4.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  border: 2px solid var(--secondary-grey);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
}

select {
  background-color: transparent;
}


.input:focus-visible {
  outline: none;
}

.basic-info-section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.input-container {
  flex: 1 1 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.desc-poster-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.large-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 250px;
}

.large-input {
  height: 100%;
  border: 1px solid var(--secondary-grey);
}

.poster-section {
  display: flex;
  width: 100%;
  height: 250px;
  border: 2px dotted var(--secondary-grey);
  border-radius: 8px;
}

.poster-input {
  border-color: transparent;
  min-height: 0px;
  width: fit-content;
  margin: auto;
}