.add-form {
  margin-left: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  border: 2px solid var(--primary-white);
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

.input:focus-visible {
  outline: none;
}

.basic-info-section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.input-container {
  flex: 1 1 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}