.movies-section {
  gap: 6rem;
  flex-direction: column;
}

.movie-status {
  font-weight: 700;
  font-size: 2rem;
}

.movies-container {
  width: 100%;
}

.movie-row {
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: 32px;
  justify-content: space-between;
}

.per-movie {
  flex-direction: column;
  max-width: fit-content;
  justify-content: center;
  flex-basis: 100%;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
}

.per-movie > * {
    cursor: pointer;

}

.movie-screen {
  font-weight: 700;
  font-size: 2.5rem;
}

.poster-container {
  height: 288px;
  width: 200px;
  border: 1px solid;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-title {
  margin-top: 14px;
  max-width: 12ch;
  font-size: 20px;
  text-align: center;
  min-height: 100px;
}

.show-times {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.show-times > * {
  flex: 1 1 100%;
}

.times-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.time{
  border: 2px solid var(--primary-green);
  border-radius: 8px;
  text-align: center;
  padding: 12px 16px;
}

.time:hover {
  background-color: var(--secondary-grey);
}