main {
  flex-direction: column;
  gap: 6rem;
}

section h1 {
  font-size: 2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.pending-container {
  padding: 32px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.pending-cinema {
  cursor: pointer;
  border: 3px solid var(--primary-green);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 1rem;
  transition: all 0.3s ;
}

.pending-cinema:hover {
  background-color: var(--secondary-black);
}

.pending-cinema div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pending-cinema h2 {
  color: var(--primary-grey);
}

.pending-cinema h3 {
  color: var(--primary-white);
  font-size: 1.5rem;
  font-weight: 700;
}

.pending-cinema p {
  font-weight: 500;
}

.admin-container {
  padding: 32px 64px 0px 64px;
  padding-inline: 64px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.admin-sections {
  cursor: pointer;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  max-width: 250px;
  min-height: 160px;
  padding-inline: 24px;
  border-radius: 0.5rem;
  border: 3px solid var(--primary-green);
  transition: all 0.3s;
}

.admin-sections:hover {
  background-color: var(--secondary-black);
}

.admin-sections img {
  max-width: 2rem;
  min-height: 2rem;
}

.admin-sections p {
  max-width: fit-content;
  font-size: 24px;
  font-weight: 500;
}