.title {
  font-size: 32px;
  font-weight: 700;
}

.sorting-movies {
  padding-left: 4.5rem;
  margin-top: 2rem;
  margin-bottom: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sorting-movies button {
  flex: 1 1 100%;
  max-width: 200px;
  padding-block: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--secondary-grey);
  border-radius: 8px;
  transition: all 0.3s;
}

.sorting-movies button:hover {
  background-color: var(--primary-green);
  font-weight: 600;
}