.sorting-movies {
  padding-left: 4.5rem;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sorting-movies button {
  flex: 1 1 100%;
  max-width: 200px;
  padding-block: 0.5rem;
  background-color: var(--secondary-grey);
  border: 2px solid transparent;
  border-radius: 8px;
}

.sorting-movies button:hover {
  border: 2px solid var(--primary-grey);
  background-color: transparent;
  font-weight: 600;
}